body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 14px;
    line-height: 28px;
    margin: 0px;
    font-weight: 400;
}
#hero {
    width: 592px;
    margin: 0px auto 72px; /* top laterais botton */

}
h1 {
    font-family: 'Inter', sans-serif;
    font-size: 49px;
    line-height: 56px; /* altura da linha*/
    font-weight: normal;
    margin-bottom: 32px;
}

#hero img {
    margin-bottom: 72px;
}

h1 span {
    font-weight: bold;
}
span, a {
    color: #ff9900;
    
}

p {
    color: #7d7987;
}


#balls {
    position: fixed;
    bottom: 0px;
    right: 0px;
}

#footer {
    margin-bottom: 15px;
}
#footer a + a { /* pegue o a que anterior a ele tem um a
    faz o espaço ficar no meio certinho */
    margin-left: 28px;
}

#footer #line {
    width: 568px;
    height: 0;
    border: 1px #eceff2 solid;
    margin: 0px auto 8px;
    
}